#Binaries
example
ex2
*.o
*.so
*.exe
#Other make/compile results
lib*.txt
#Unnamed output
out.csv
#Swap files
*.swp
#Backups
*.scf_bk
.ipynb_checkpoints
#Unused SCI-Compiler output
HDL/
output/*/
#Caches
.build-debug/
Debug/
*.cache