#Binaries
example
ex2
*.o
*.out
*.so
*.exe
*.bin
test_firmwares/SCIDK-SDKLinux/SciDKSDK_test/SciDKSDK_test
test_firmwares/SCIDK-SDKLinux/linux
#Other make/compile results
lib*.txt
#Unnamed output
out.csv
#Swap files
*.swp
#Backups
*.scf_bk
.ipynb_checkpoints
#Unused SCI-Compiler output
HDL/
output/*/
VC++/
#Caches
.build-debug/
Debug/
*.cache
tmp/
#Visual Studio Configuration
.vs/