<?xml version="1.0"?>
<MACAProject xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectPages>
    <MACAPage>
      <SignalsLinks />
      <Components />
      <PortList />
      <GlobalVars />
      <MMCs />
      <PageName>top</PageName>
      <PageGUID>7dfc69ee-c6a7-4f32-9bd2-323590ccfadf</PageGUID>
      <isTop>true</isTop>
      <subPartUpdated>false</subPartUpdated>
      <AppVersion />
      <XMLDiagram>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;Diagram Version="18"&gt;
  &lt;Nodes /&gt;
  &lt;Links /&gt;
  &lt;Properties&gt;
    &lt;ItemCounter&gt;0&lt;/ItemCounter&gt;
    &lt;LinkHeadShape Id="Triangle" /&gt;
    &lt;LinkHeadShapeSize&gt;3&lt;/LinkHeadShapeSize&gt;
    &lt;LinkBaseShapeSize&gt;5&lt;/LinkBaseShapeSize&gt;
    &lt;LinkIntermediateShapeSize&gt;5&lt;/LinkIntermediateShapeSize&gt;
    &lt;AlignToGrid&gt;True&lt;/AlignToGrid&gt;
    &lt;ShowGrid&gt;False&lt;/ShowGrid&gt;
    &lt;GridStyle&gt;0&lt;/GridStyle&gt;
    &lt;GridColor&gt;#FF8C8C96&lt;/GridColor&gt;
    &lt;GridSizeX&gt;1&lt;/GridSizeX&gt;
    &lt;GridSizeY&gt;1&lt;/GridSizeY&gt;
    &lt;GridOffsetX&gt;NaN&lt;/GridOffsetX&gt;
    &lt;GridOffsetY&gt;NaN&lt;/GridOffsetY&gt;
    &lt;ShadowBrush Id="0" /&gt;
    &lt;ShadowsStyle&gt;1&lt;/ShadowsStyle&gt;
    &lt;ShadowOffsetX&gt;1&lt;/ShadowOffsetX&gt;
    &lt;ShadowOffsetY&gt;1&lt;/ShadowOffsetY&gt;
    &lt;ImageAlign&gt;4&lt;/ImageAlign&gt;
    &lt;TextColor&gt;#FF000000&lt;/TextColor&gt;
    &lt;LinkStyle&gt;2&lt;/LinkStyle&gt;
    &lt;LinkSegments&gt;2&lt;/LinkSegments&gt;
    &lt;Bounds&gt;0, 0, 210, 297&lt;/Bounds&gt;
    &lt;TableRowsCount&gt;4&lt;/TableRowsCount&gt;
    &lt;TableColumnsCount&gt;2&lt;/TableColumnsCount&gt;
    &lt;TableColumnWidth&gt;18&lt;/TableColumnWidth&gt;
    &lt;TableRowHeight&gt;6&lt;/TableRowHeight&gt;
    &lt;TableCaptionHeight&gt;5&lt;/TableCaptionHeight&gt;
    &lt;TableCaption&gt;Table&lt;/TableCaption&gt;
    &lt;LinkCascadeOrientation&gt;0&lt;/LinkCascadeOrientation&gt;
    &lt;TableCellBorders&gt;2&lt;/TableCellBorders&gt;
    &lt;AutoHighlightRows&gt;False&lt;/AutoHighlightRows&gt;
    &lt;NodesExpandable&gt;False&lt;/NodesExpandable&gt;
    &lt;TablesScrollable&gt;False&lt;/TablesScrollable&gt;
    &lt;ToolTip /&gt;
    &lt;DefaultTextFormat&gt;
      &lt;Alignment&gt;1&lt;/Alignment&gt;
      &lt;Flags&gt;0&lt;/Flags&gt;
      &lt;LineAlignment&gt;1&lt;/LineAlignment&gt;
      &lt;Trimming&gt;1&lt;/Trimming&gt;
    &lt;/DefaultTextFormat&gt;
    &lt;Font&gt;
      &lt;Name&gt;Microsoft Sans Serif&lt;/Name&gt;
      &lt;Size&gt;9&lt;/Size&gt;
      &lt;Unit&gt;3&lt;/Unit&gt;
      &lt;Bold&gt;False&lt;/Bold&gt;
      &lt;Italic&gt;False&lt;/Italic&gt;
      &lt;Underline&gt;False&lt;/Underline&gt;
      &lt;Strikeout&gt;False&lt;/Strikeout&gt;
      &lt;GdiCharSet&gt;1&lt;/GdiCharSet&gt;
    &lt;/Font&gt;
    &lt;ImageDpiX&gt;0&lt;/ImageDpiX&gt;
    &lt;ImageDpiY&gt;0&lt;/ImageDpiY&gt;
    &lt;DefaultShape Id="RoundRect" /&gt;
    &lt;ShapePen&gt;
      &lt;Color&gt;#FF000000&lt;/Color&gt;
      &lt;DashOffset&gt;0&lt;/DashOffset&gt;
      &lt;DashStyle&gt;0&lt;/DashStyle&gt;
      &lt;LineJoint&gt;0&lt;/LineJoint&gt;
      &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
      &lt;Width&gt;0&lt;/Width&gt;
    &lt;/ShapePen&gt;
    &lt;LinkPen&gt;
      &lt;Color&gt;#FF000000&lt;/Color&gt;
      &lt;DashOffset&gt;0&lt;/DashOffset&gt;
      &lt;DashStyle&gt;0&lt;/DashStyle&gt;
      &lt;LineJoint&gt;0&lt;/LineJoint&gt;
      &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
      &lt;Width&gt;0&lt;/Width&gt;
    &lt;/LinkPen&gt;
    &lt;TablePen&gt;
      &lt;Color&gt;#FF000000&lt;/Color&gt;
      &lt;DashOffset&gt;0&lt;/DashOffset&gt;
      &lt;DashStyle&gt;0&lt;/DashStyle&gt;
      &lt;LineJoint&gt;0&lt;/LineJoint&gt;
      &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
      &lt;Width&gt;0&lt;/Width&gt;
    &lt;/TablePen&gt;
    &lt;ContainerHighlightPen&gt;
      &lt;Color&gt;#FF87CEFA&lt;/Color&gt;
      &lt;DashOffset&gt;0&lt;/DashOffset&gt;
      &lt;DashStyle&gt;0&lt;/DashStyle&gt;
      &lt;LineJoint&gt;0&lt;/LineJoint&gt;
      &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
      &lt;Width&gt;0.5&lt;/Width&gt;
    &lt;/ContainerHighlightPen&gt;
    &lt;ShapeBrush Id="1" /&gt;
    &lt;LinkBrush Id="2" /&gt;
    &lt;TableBrush Id="3" /&gt;
    &lt;RowHighlightBrush Id="4" /&gt;
    &lt;ShapeHandlesStyle&gt;1&lt;/ShapeHandlesStyle&gt;
    &lt;TableHandlesStyle&gt;2&lt;/TableHandlesStyle&gt;
    &lt;AllowLinksRepeat&gt;True&lt;/AllowLinksRepeat&gt;
    &lt;AllowUnconnectedLinks&gt;False&lt;/AllowUnconnectedLinks&gt;
    &lt;AllowUnanchoredLinks&gt;False&lt;/AllowUnanchoredLinks&gt;
    &lt;PolygonalTextLayout&gt;False&lt;/PolygonalTextLayout&gt;
    &lt;ShapeOrientation&gt;0&lt;/ShapeOrientation&gt;
    &lt;RouteLinks&gt;True&lt;/RouteLinks&gt;
    &lt;LinksRetainForm&gt;False&lt;/LinksRetainForm&gt;
    &lt;LinkTextStyle&gt;0&lt;/LinkTextStyle&gt;
    &lt;TableConnectionStyle&gt;1&lt;/TableConnectionStyle&gt;
    &lt;MeasureUnit&gt;6&lt;/MeasureUnit&gt;
    &lt;MinBounds&gt;0, 0, 210, 297&lt;/MinBounds&gt;
    &lt;ExpandBtnPos&gt;0&lt;/ExpandBtnPos&gt;
    &lt;EnableStyledText&gt;False&lt;/EnableStyledText&gt;
    &lt;LinkText /&gt;
    &lt;ShapeText /&gt;
    &lt;LinkCrossings&gt;0&lt;/LinkCrossings&gt;
    &lt;CrossRadius&gt;4&lt;/CrossRadius&gt;
    &lt;AutoSnapLinks&gt;False&lt;/AutoSnapLinks&gt;
    &lt;AutoSnapDistance&gt;16&lt;/AutoSnapDistance&gt;
    &lt;LinkHandlesStyle&gt;1&lt;/LinkHandlesStyle&gt;
    &lt;RoundedLinks&gt;False&lt;/RoundedLinks&gt;
    &lt;RoundedLinksRadius&gt;2&lt;/RoundedLinksRadius&gt;
    &lt;EnableLanes&gt;False&lt;/EnableLanes&gt;
    &lt;Lane&gt;
      &lt;LeftMargin&gt;0&lt;/LeftMargin&gt;
      &lt;TopMargin&gt;0&lt;/TopMargin&gt;
      &lt;MinHeaderSize&gt;10&lt;/MinHeaderSize&gt;
      &lt;DefaultFont&gt;
        &lt;Name&gt;Microsoft Sans Serif&lt;/Name&gt;
        &lt;Size&gt;9&lt;/Size&gt;
        &lt;Unit&gt;3&lt;/Unit&gt;
        &lt;Bold&gt;False&lt;/Bold&gt;
        &lt;Italic&gt;False&lt;/Italic&gt;
        &lt;Underline&gt;False&lt;/Underline&gt;
        &lt;Strikeout&gt;False&lt;/Strikeout&gt;
        &lt;GdiCharSet&gt;1&lt;/GdiCharSet&gt;
      &lt;/DefaultFont&gt;
      &lt;HookHeaders&gt;True&lt;/HookHeaders&gt;
      &lt;HeadersOnTop&gt;True&lt;/HeadersOnTop&gt;
      &lt;AlignCells&gt;True&lt;/AlignCells&gt;
      &lt;RowWidths /&gt;
      &lt;ColumnHeights /&gt;
      &lt;AllowResizeHeaders&gt;True&lt;/AllowResizeHeaders&gt;
      &lt;Columns&gt;
        &lt;Width&gt;0&lt;/Width&gt;
        &lt;Height&gt;0&lt;/Height&gt;
        &lt;ResizeType&gt;1&lt;/ResizeType&gt;
        &lt;Title /&gt;
        &lt;RotateTitle&gt;False&lt;/RotateTitle&gt;
        &lt;TitleColor&gt;#FF000000&lt;/TitleColor&gt;
        &lt;Style&gt;
          &lt;BackgroundBrush Id="5" /&gt;
          &lt;LeftBorderPen&gt;
            &lt;Color&gt;#FF000000&lt;/Color&gt;
            &lt;DashOffset&gt;0&lt;/DashOffset&gt;
            &lt;DashStyle&gt;0&lt;/DashStyle&gt;
            &lt;LineJoint&gt;0&lt;/LineJoint&gt;
            &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
            &lt;Width&gt;0&lt;/Width&gt;
          &lt;/LeftBorderPen&gt;
          &lt;TopBorderPen&gt;
            &lt;Color&gt;#FF000000&lt;/Color&gt;
            &lt;DashOffset&gt;0&lt;/DashOffset&gt;
            &lt;DashStyle&gt;0&lt;/DashStyle&gt;
            &lt;LineJoint&gt;0&lt;/LineJoint&gt;
            &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
            &lt;Width&gt;0&lt;/Width&gt;
          &lt;/TopBorderPen&gt;
          &lt;RightBorderPen&gt;
            &lt;Color&gt;#FF000000&lt;/Color&gt;
            &lt;DashOffset&gt;0&lt;/DashOffset&gt;
            &lt;DashStyle&gt;0&lt;/DashStyle&gt;
            &lt;LineJoint&gt;0&lt;/LineJoint&gt;
            &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
            &lt;Width&gt;0&lt;/Width&gt;
          &lt;/RightBorderPen&gt;
          &lt;BottomBorderPen&gt;
            &lt;Color&gt;#FF000000&lt;/Color&gt;
            &lt;DashOffset&gt;0&lt;/DashOffset&gt;
            &lt;DashStyle&gt;0&lt;/DashStyle&gt;
            &lt;LineJoint&gt;0&lt;/LineJoint&gt;
            &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
            &lt;Width&gt;0&lt;/Width&gt;
          &lt;/BottomBorderPen&gt;
        &lt;/Style&gt;
        &lt;SubHeaders /&gt;
      &lt;/Columns&gt;
      &lt;Rows&gt;
        &lt;Width&gt;0&lt;/Width&gt;
        &lt;Height&gt;0&lt;/Height&gt;
        &lt;ResizeType&gt;1&lt;/ResizeType&gt;
        &lt;Title /&gt;
        &lt;RotateTitle&gt;False&lt;/RotateTitle&gt;
        &lt;TitleColor&gt;#FF000000&lt;/TitleColor&gt;
        &lt;Style&gt;
          &lt;BackgroundBrush Id="5" /&gt;
          &lt;LeftBorderPen&gt;
            &lt;Color&gt;#FF000000&lt;/Color&gt;
            &lt;DashOffset&gt;0&lt;/DashOffset&gt;
            &lt;DashStyle&gt;0&lt;/DashStyle&gt;
            &lt;LineJoint&gt;0&lt;/LineJoint&gt;
            &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
            &lt;Width&gt;0&lt;/Width&gt;
          &lt;/LeftBorderPen&gt;
          &lt;TopBorderPen&gt;
            &lt;Color&gt;#FF000000&lt;/Color&gt;
            &lt;DashOffset&gt;0&lt;/DashOffset&gt;
            &lt;DashStyle&gt;0&lt;/DashStyle&gt;
            &lt;LineJoint&gt;0&lt;/LineJoint&gt;
            &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
            &lt;Width&gt;0&lt;/Width&gt;
          &lt;/TopBorderPen&gt;
          &lt;RightBorderPen&gt;
            &lt;Color&gt;#FF000000&lt;/Color&gt;
            &lt;DashOffset&gt;0&lt;/DashOffset&gt;
            &lt;DashStyle&gt;0&lt;/DashStyle&gt;
            &lt;LineJoint&gt;0&lt;/LineJoint&gt;
            &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
            &lt;Width&gt;0&lt;/Width&gt;
          &lt;/RightBorderPen&gt;
          &lt;BottomBorderPen&gt;
            &lt;Color&gt;#FF000000&lt;/Color&gt;
            &lt;DashOffset&gt;0&lt;/DashOffset&gt;
            &lt;DashStyle&gt;0&lt;/DashStyle&gt;
            &lt;LineJoint&gt;0&lt;/LineJoint&gt;
            &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
            &lt;Width&gt;0&lt;/Width&gt;
          &lt;/BottomBorderPen&gt;
        &lt;/Style&gt;
        &lt;SubHeaders /&gt;
      &lt;/Rows&gt;
      &lt;Cells ColumnCount="0" RowCount="0" /&gt;
    &lt;/Lane&gt;
    &lt;ContainerMargin&gt;10&lt;/ContainerMargin&gt;
    &lt;ContainerMinimumSize&gt;50, 40&lt;/ContainerMinimumSize&gt;
    &lt;ContainerCaption&gt;Container&lt;/ContainerCaption&gt;
    &lt;ContainerCaptionHeight&gt;5&lt;/ContainerCaptionHeight&gt;
    &lt;ContainersFoldable&gt;True&lt;/ContainersFoldable&gt;
    &lt;ShapeCustomDraw&gt;0&lt;/ShapeCustomDraw&gt;
    &lt;SelectAfterCreate&gt;True&lt;/SelectAfterCreate&gt;
    &lt;AutoResize&gt;1&lt;/AutoResize&gt;
    &lt;RestrictItemsToBounds&gt;1&lt;/RestrictItemsToBounds&gt;
    &lt;SnapToAnchor&gt;0&lt;/SnapToAnchor&gt;
    &lt;AllowSplitLinks&gt;False&lt;/AllowSplitLinks&gt;
    &lt;AllowSelfLoops&gt;True&lt;/AllowSelfLoops&gt;
    &lt;ExpandOnIncoming&gt;False&lt;/ExpandOnIncoming&gt;
    &lt;RecursiveExpand&gt;False&lt;/RecursiveExpand&gt;
    &lt;MergeThreshold&gt;0&lt;/MergeThreshold&gt;
    &lt;ShowAnchors&gt;2&lt;/ShowAnchors&gt;
    &lt;SelectionOnTop&gt;True&lt;/SelectionOnTop&gt;
    &lt;AdjustmentHandlesSize&gt;2&lt;/AdjustmentHandlesSize&gt;
    &lt;ShowHandlesOnDrag&gt;True&lt;/ShowHandlesOnDrag&gt;
    &lt;ShowDisabledHandles&gt;False&lt;/ShowDisabledHandles&gt;
    &lt;TableStyle&gt;0&lt;/TableStyle&gt;
    &lt;LinkEndsMovable&gt;True&lt;/LinkEndsMovable&gt;
    &lt;DynamicLinks&gt;False&lt;/DynamicLinks&gt;
    &lt;HitTestPriority&gt;1&lt;/HitTestPriority&gt;
    &lt;AutoArrangeAvoidSegments&gt;True&lt;/AutoArrangeAvoidSegments&gt;
    &lt;AutoArrangeAvoidContainers&gt;True&lt;/AutoArrangeAvoidContainers&gt;
    &lt;AllowMultipleSelection&gt;True&lt;/AllowMultipleSelection&gt;
    &lt;LinkBranchIndicator&gt;0&lt;/LinkBranchIndicator&gt;
    &lt;BranchIndicatorSize&gt;4&lt;/BranchIndicatorSize&gt;
    &lt;BranchIndicatorColor&gt;#FF90EE90&lt;/BranchIndicatorColor&gt;
    &lt;LinkMergeIndicator&gt;0&lt;/LinkMergeIndicator&gt;
    &lt;MergeIndicatorSize&gt;4&lt;/MergeIndicatorSize&gt;
    &lt;MergeIndicatorColor&gt;#FF90EE90&lt;/MergeIndicatorColor&gt;
    &lt;ActiveItemHandlesStyle&gt;
      &lt;HandlePen&gt;
        &lt;Color&gt;#FF000000&lt;/Color&gt;
        &lt;DashOffset&gt;0&lt;/DashOffset&gt;
        &lt;DashStyle&gt;0&lt;/DashStyle&gt;
        &lt;LineJoint&gt;0&lt;/LineJoint&gt;
        &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
        &lt;Width&gt;0&lt;/Width&gt;
      &lt;/HandlePen&gt;
      &lt;HandleBrush Id="5" /&gt;
      &lt;DashPen&gt;
        &lt;Brush Id="6" /&gt;
        &lt;Color&gt;#FF000000&lt;/Color&gt;
        &lt;DashOffset&gt;0&lt;/DashOffset&gt;
        &lt;DashStyle&gt;0&lt;/DashStyle&gt;
        &lt;LineJoint&gt;0&lt;/LineJoint&gt;
        &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
        &lt;Width&gt;0&lt;/Width&gt;
      &lt;/DashPen&gt;
      &lt;HatchBrush Id="7" /&gt;
      &lt;PatternBrush Id="8" /&gt;
      &lt;ControlPointBrush Id="9" /&gt;
    &lt;/ActiveItemHandlesStyle&gt;
    &lt;SelectedItemHandlesStyle&gt;
      &lt;HandlePen&gt;
        &lt;Color&gt;#FF000000&lt;/Color&gt;
        &lt;DashOffset&gt;0&lt;/DashOffset&gt;
        &lt;DashStyle&gt;0&lt;/DashStyle&gt;
        &lt;LineJoint&gt;0&lt;/LineJoint&gt;
        &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
        &lt;Width&gt;0&lt;/Width&gt;
      &lt;/HandlePen&gt;
      &lt;HandleBrush Id="10" /&gt;
      &lt;DashPen&gt;
        &lt;Brush Id="11" /&gt;
        &lt;Color&gt;#FF000000&lt;/Color&gt;
        &lt;DashOffset&gt;0&lt;/DashOffset&gt;
        &lt;DashStyle&gt;0&lt;/DashStyle&gt;
        &lt;LineJoint&gt;0&lt;/LineJoint&gt;
        &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
        &lt;Width&gt;0&lt;/Width&gt;
      &lt;/DashPen&gt;
      &lt;HatchBrush Id="7" /&gt;
      &lt;PatternBrush Id="8" /&gt;
      &lt;ControlPointBrush Id="9" /&gt;
    &lt;/SelectedItemHandlesStyle&gt;
    &lt;DisabledHandlesStyle&gt;
      &lt;HandlePen&gt;
        &lt;Color&gt;#FF000000&lt;/Color&gt;
        &lt;DashOffset&gt;0&lt;/DashOffset&gt;
        &lt;DashStyle&gt;0&lt;/DashStyle&gt;
        &lt;LineJoint&gt;0&lt;/LineJoint&gt;
        &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
        &lt;Width&gt;0&lt;/Width&gt;
      &lt;/HandlePen&gt;
      &lt;HandleBrush Id="12" /&gt;
      &lt;DashPen&gt;
        &lt;Brush Id="6" /&gt;
        &lt;Color&gt;#FF000000&lt;/Color&gt;
        &lt;DashOffset&gt;0&lt;/DashOffset&gt;
        &lt;DashStyle&gt;0&lt;/DashStyle&gt;
        &lt;LineJoint&gt;0&lt;/LineJoint&gt;
        &lt;MiterLimit&gt;10&lt;/MiterLimit&gt;
        &lt;Width&gt;0&lt;/Width&gt;
      &lt;/DashPen&gt;
      &lt;HatchBrush Id="7" /&gt;
      &lt;PatternBrush Id="8" /&gt;
      &lt;ControlPointBrush Id="9" /&gt;
    &lt;/DisabledHandlesStyle&gt;
  &lt;/Properties&gt;
  &lt;Effects /&gt;
  &lt;Selection /&gt;
  &lt;Resources&gt;
    &lt;Styles /&gt;
    &lt;Effects /&gt;
    &lt;Brushes&gt;
      &lt;Brush Index="8" Type="Pattern"&gt;
        &lt;ForeColor&gt;#FF000000&lt;/ForeColor&gt;
        &lt;BackColor&gt;#32000000&lt;/BackColor&gt;
        &lt;Style&gt;12&lt;/Style&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="5" Type="Solid"&gt;
        &lt;Color&gt;#FFFFFFFF&lt;/Color&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="1" Type="Solid"&gt;
        &lt;Color&gt;#FFDCDCFF&lt;/Color&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="0" Type="Solid"&gt;
        &lt;Color&gt;#96A9A9A9&lt;/Color&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="11" Type="Pattern"&gt;
        &lt;ForeColor&gt;#FFD3D3D3&lt;/ForeColor&gt;
        &lt;BackColor&gt;#FF000000&lt;/BackColor&gt;
        &lt;Style&gt;20&lt;/Style&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="10" Type="Solid"&gt;
        &lt;Color&gt;#FFAAAAAA&lt;/Color&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="9" Type="Solid"&gt;
        &lt;Color&gt;#FFFFFF00&lt;/Color&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="4" Type="Solid"&gt;
        &lt;Color&gt;#FFB9D1EA&lt;/Color&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="6" Type="Pattern"&gt;
        &lt;ForeColor&gt;#FFFFFFFF&lt;/ForeColor&gt;
        &lt;BackColor&gt;#FF000000&lt;/BackColor&gt;
        &lt;Style&gt;20&lt;/Style&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="3" Type="Solid"&gt;
        &lt;Color&gt;#FFB4A0A0&lt;/Color&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="2" Type="Solid"&gt;
        &lt;Color&gt;#FF78DCFF&lt;/Color&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="12" Type="Solid"&gt;
        &lt;Color&gt;#FFC80000&lt;/Color&gt;
      &lt;/Brush&gt;
      &lt;Brush Index="7" Type="Pattern"&gt;
        &lt;ForeColor&gt;#FF000000&lt;/ForeColor&gt;
        &lt;BackColor&gt;#FFFFFFFF&lt;/BackColor&gt;
        &lt;Style&gt;3&lt;/Style&gt;
      &lt;/Brush&gt;
    &lt;/Brushes&gt;
    &lt;Images Count="0" /&gt;
    &lt;Svgs Count="0" /&gt;
    &lt;Stencils Count="0" /&gt;
    &lt;Maps Count="0" /&gt;
  &lt;/Resources&gt;
  &lt;Layers ActiveLayer="-1" /&gt;
  &lt;View&gt;
    &lt;Behavior&gt;2&lt;/Behavior&gt;
    &lt;ScrollX&gt;0&lt;/ScrollX&gt;
    &lt;ScrollY&gt;0&lt;/ScrollY&gt;
    &lt;ZoomFactor&gt;100&lt;/ZoomFactor&gt;
    &lt;AllowInplaceEdit&gt;False&lt;/AllowInplaceEdit&gt;
    &lt;InplaceEditAcceptOnEnter&gt;False&lt;/InplaceEditAcceptOnEnter&gt;
    &lt;InplaceEditCancelOnEsc&gt;True&lt;/InplaceEditCancelOnEsc&gt;
    &lt;InplaceEditFont&gt;
      &lt;Name&gt;Microsoft Sans Serif&lt;/Name&gt;
      &lt;Size&gt;8.25&lt;/Size&gt;
      &lt;Unit&gt;3&lt;/Unit&gt;
      &lt;Bold&gt;False&lt;/Bold&gt;
      &lt;Italic&gt;False&lt;/Italic&gt;
      &lt;Underline&gt;False&lt;/Underline&gt;
      &lt;Strikeout&gt;False&lt;/Strikeout&gt;
      &lt;GdiCharSet&gt;0&lt;/GdiCharSet&gt;
    &lt;/InplaceEditFont&gt;
    &lt;ModificationStart&gt;0&lt;/ModificationStart&gt;
    &lt;AutoScroll&gt;True&lt;/AutoScroll&gt;
  &lt;/View&gt;
&lt;/Diagram&gt;</XMLDiagram>
    </MACAPage>
  </ProjectPages>
  <StateMachines />
  <Name>connectiontest</Name>
  <Name_userside>connectiontest</Name_userside>
  <CreationDate>7/6/2023 2:08:09 PM</CreationDate>
  <LastEditDate>7/6/2023 2:15:49 PM</LastEditDate>
  <AppVersion>2022.7.0.4</AppVersion>
  <PrjFolder>C:\OpenHardware\UserProject</PrjFolder>
  <PrjTarget>SCIDK</PrjTarget>
  <BoardGUID>36F7FF8D-4166-4517-81D2-60182B95C7C3</BoardGUID>
  <BoardConfiguration>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;BoardConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;PinList&gt;
    &lt;BoardPin&gt;
      &lt;Name&gt;
        &lt;Val&gt;LEMO_0&lt;/Val&gt;
        &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
      &lt;/Name&gt;
      &lt;locked&gt;true&lt;/locked&gt;
      &lt;IsDifferential&gt;false&lt;/IsDifferential&gt;
      &lt;Pins&gt;
        &lt;PinComponent&gt;
          &lt;PinName&gt;LEMO_0&lt;/PinName&gt;
          &lt;ViewName&gt;LEMO_0&lt;/ViewName&gt;
          &lt;Signal&gt;
            &lt;Val&gt;--none--&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Signal&gt;
          &lt;Negate&gt;
            &lt;Val&gt;false&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Negate&gt;
          &lt;Direction&gt;LEMO_5550&lt;/Direction&gt;
          &lt;isConstant&gt;false&lt;/isConstant&gt;
          &lt;Costant&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Costant&gt;
          &lt;type&gt;0&lt;/type&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
          &lt;maxsize&gt;1&lt;/maxsize&gt;
          &lt;minsize&gt;0&lt;/minsize&gt;
          &lt;locked&gt;false&lt;/locked&gt;
          &lt;CNSTR_Location /&gt;
          &lt;CNSTR_LocationDirection /&gt;
          &lt;CNSTR_DirectionOutputValue /&gt;
          &lt;CNSTR_DirectionInputValue /&gt;
          &lt;CNSTR_SE_Standard&gt;LVCMOS18&lt;/CNSTR_SE_Standard&gt;
          &lt;CNSTR_DF_Standard&gt;LVDS&lt;/CNSTR_DF_Standard&gt;
          &lt;Connector&gt;LEMO 0&lt;/Connector&gt;
          &lt;ConnectorPin&gt;0&lt;/ConnectorPin&gt;
          &lt;MCRepeat&gt;false&lt;/MCRepeat&gt;
        &lt;/PinComponent&gt;
        &lt;PinComponent&gt;
          &lt;PinName&gt;LEMO_1&lt;/PinName&gt;
          &lt;ViewName&gt;LEMO_1&lt;/ViewName&gt;
          &lt;Signal&gt;
            &lt;Val&gt;--none--&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Signal&gt;
          &lt;Negate&gt;
            &lt;Val&gt;false&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Negate&gt;
          &lt;Direction&gt;LEMO_5550&lt;/Direction&gt;
          &lt;isConstant&gt;false&lt;/isConstant&gt;
          &lt;Costant&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Costant&gt;
          &lt;type&gt;0&lt;/type&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
          &lt;maxsize&gt;1&lt;/maxsize&gt;
          &lt;minsize&gt;0&lt;/minsize&gt;
          &lt;locked&gt;false&lt;/locked&gt;
          &lt;CNSTR_Location /&gt;
          &lt;CNSTR_LocationDirection /&gt;
          &lt;CNSTR_DirectionOutputValue /&gt;
          &lt;CNSTR_DirectionInputValue /&gt;
          &lt;CNSTR_SE_Standard&gt;LVCMOS18&lt;/CNSTR_SE_Standard&gt;
          &lt;CNSTR_DF_Standard&gt;LVDS&lt;/CNSTR_DF_Standard&gt;
          &lt;Connector&gt;LEMO 1&lt;/Connector&gt;
          &lt;ConnectorPin&gt;0&lt;/ConnectorPin&gt;
          &lt;MCRepeat&gt;false&lt;/MCRepeat&gt;
        &lt;/PinComponent&gt;
      &lt;/Pins&gt;
      &lt;direction&gt;LEMO_5550&lt;/direction&gt;
      &lt;PinType&gt;PinIOLemo&lt;/PinType&gt;
      &lt;Configurable&gt;false&lt;/Configurable&gt;
    &lt;/BoardPin&gt;
    &lt;BoardPin&gt;
      &lt;Name&gt;
        &lt;Val&gt;LEMO_1&lt;/Val&gt;
        &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
      &lt;/Name&gt;
      &lt;locked&gt;true&lt;/locked&gt;
      &lt;IsDifferential&gt;false&lt;/IsDifferential&gt;
      &lt;Pins&gt;
        &lt;PinComponent&gt;
          &lt;PinName&gt;LEMO_2&lt;/PinName&gt;
          &lt;ViewName&gt;LEMO_2&lt;/ViewName&gt;
          &lt;Signal&gt;
            &lt;Val&gt;--none--&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Signal&gt;
          &lt;Negate&gt;
            &lt;Val&gt;false&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Negate&gt;
          &lt;Direction&gt;LEMO_5550&lt;/Direction&gt;
          &lt;isConstant&gt;false&lt;/isConstant&gt;
          &lt;Costant&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Costant&gt;
          &lt;type&gt;0&lt;/type&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
          &lt;maxsize&gt;1&lt;/maxsize&gt;
          &lt;minsize&gt;0&lt;/minsize&gt;
          &lt;locked&gt;false&lt;/locked&gt;
          &lt;CNSTR_Location /&gt;
          &lt;CNSTR_LocationDirection /&gt;
          &lt;CNSTR_DirectionOutputValue /&gt;
          &lt;CNSTR_DirectionInputValue /&gt;
          &lt;CNSTR_SE_Standard&gt;LVCMOS18&lt;/CNSTR_SE_Standard&gt;
          &lt;CNSTR_DF_Standard&gt;LVDS&lt;/CNSTR_DF_Standard&gt;
          &lt;Connector&gt;LEMO 2&lt;/Connector&gt;
          &lt;ConnectorPin&gt;0&lt;/ConnectorPin&gt;
          &lt;MCRepeat&gt;false&lt;/MCRepeat&gt;
        &lt;/PinComponent&gt;
        &lt;PinComponent&gt;
          &lt;PinName&gt;LEMO_3&lt;/PinName&gt;
          &lt;ViewName&gt;LEMO_3&lt;/ViewName&gt;
          &lt;Signal&gt;
            &lt;Val&gt;--none--&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Signal&gt;
          &lt;Negate&gt;
            &lt;Val&gt;false&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Negate&gt;
          &lt;Direction&gt;LEMO_5550&lt;/Direction&gt;
          &lt;isConstant&gt;false&lt;/isConstant&gt;
          &lt;Costant&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Costant&gt;
          &lt;type&gt;0&lt;/type&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
          &lt;maxsize&gt;1&lt;/maxsize&gt;
          &lt;minsize&gt;0&lt;/minsize&gt;
          &lt;locked&gt;false&lt;/locked&gt;
          &lt;CNSTR_Location /&gt;
          &lt;CNSTR_LocationDirection /&gt;
          &lt;CNSTR_DirectionOutputValue /&gt;
          &lt;CNSTR_DirectionInputValue /&gt;
          &lt;CNSTR_SE_Standard&gt;LVCMOS18&lt;/CNSTR_SE_Standard&gt;
          &lt;CNSTR_DF_Standard&gt;LVDS&lt;/CNSTR_DF_Standard&gt;
          &lt;Connector&gt;LEMO 3&lt;/Connector&gt;
          &lt;ConnectorPin&gt;0&lt;/ConnectorPin&gt;
          &lt;MCRepeat&gt;false&lt;/MCRepeat&gt;
        &lt;/PinComponent&gt;
      &lt;/Pins&gt;
      &lt;direction&gt;LEMO_5550&lt;/direction&gt;
      &lt;PinType&gt;PinIOLemo&lt;/PinType&gt;
      &lt;Configurable&gt;false&lt;/Configurable&gt;
    &lt;/BoardPin&gt;
    &lt;BoardPin&gt;
      &lt;Name&gt;
        &lt;Val&gt;LED_0&lt;/Val&gt;
        &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
      &lt;/Name&gt;
      &lt;locked&gt;true&lt;/locked&gt;
      &lt;IsDifferential&gt;false&lt;/IsDifferential&gt;
      &lt;Pins&gt;
        &lt;PinComponent&gt;
          &lt;PinName&gt;LED_0&lt;/PinName&gt;
          &lt;ViewName&gt;LED_0&lt;/ViewName&gt;
          &lt;Signal&gt;
            &lt;Val&gt;--none--&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Signal&gt;
          &lt;Negate&gt;
            &lt;Val&gt;false&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Negate&gt;
          &lt;Direction&gt;Output&lt;/Direction&gt;
          &lt;isConstant&gt;false&lt;/isConstant&gt;
          &lt;Costant&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Costant&gt;
          &lt;type&gt;0&lt;/type&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
          &lt;maxsize&gt;1&lt;/maxsize&gt;
          &lt;minsize&gt;0&lt;/minsize&gt;
          &lt;locked&gt;false&lt;/locked&gt;
          &lt;CNSTR_Location /&gt;
          &lt;CNSTR_LocationDirection /&gt;
          &lt;CNSTR_DirectionOutputValue /&gt;
          &lt;CNSTR_DirectionInputValue /&gt;
          &lt;CNSTR_SE_Standard&gt;LVCMOS18&lt;/CNSTR_SE_Standard&gt;
          &lt;CNSTR_DF_Standard&gt;LVDS&lt;/CNSTR_DF_Standard&gt;
          &lt;Connector&gt;LED_0&lt;/Connector&gt;
          &lt;ConnectorPin&gt;LED_0&lt;/ConnectorPin&gt;
          &lt;MCRepeat&gt;false&lt;/MCRepeat&gt;
        &lt;/PinComponent&gt;
      &lt;/Pins&gt;
      &lt;direction&gt;Output&lt;/direction&gt;
      &lt;PinType&gt;PinODigitalSE&lt;/PinType&gt;
      &lt;Configurable&gt;false&lt;/Configurable&gt;
    &lt;/BoardPin&gt;
    &lt;BoardPin&gt;
      &lt;Name&gt;
        &lt;Val&gt;LED_1&lt;/Val&gt;
        &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
      &lt;/Name&gt;
      &lt;locked&gt;true&lt;/locked&gt;
      &lt;IsDifferential&gt;false&lt;/IsDifferential&gt;
      &lt;Pins&gt;
        &lt;PinComponent&gt;
          &lt;PinName&gt;LED_1&lt;/PinName&gt;
          &lt;ViewName&gt;LED_1&lt;/ViewName&gt;
          &lt;Signal&gt;
            &lt;Val&gt;--none--&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Signal&gt;
          &lt;Negate&gt;
            &lt;Val&gt;false&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Negate&gt;
          &lt;Direction&gt;Output&lt;/Direction&gt;
          &lt;isConstant&gt;false&lt;/isConstant&gt;
          &lt;Costant&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Costant&gt;
          &lt;type&gt;0&lt;/type&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
          &lt;maxsize&gt;1&lt;/maxsize&gt;
          &lt;minsize&gt;0&lt;/minsize&gt;
          &lt;locked&gt;false&lt;/locked&gt;
          &lt;CNSTR_Location /&gt;
          &lt;CNSTR_LocationDirection /&gt;
          &lt;CNSTR_DirectionOutputValue /&gt;
          &lt;CNSTR_DirectionInputValue /&gt;
          &lt;CNSTR_SE_Standard&gt;LVCMOS18&lt;/CNSTR_SE_Standard&gt;
          &lt;CNSTR_DF_Standard&gt;LVDS&lt;/CNSTR_DF_Standard&gt;
          &lt;Connector&gt;LED_1&lt;/Connector&gt;
          &lt;ConnectorPin&gt;LED_1&lt;/ConnectorPin&gt;
          &lt;MCRepeat&gt;false&lt;/MCRepeat&gt;
        &lt;/PinComponent&gt;
      &lt;/Pins&gt;
      &lt;direction&gt;Output&lt;/direction&gt;
      &lt;PinType&gt;PinODigitalSE&lt;/PinType&gt;
      &lt;Configurable&gt;false&lt;/Configurable&gt;
    &lt;/BoardPin&gt;
    &lt;BoardPin&gt;
      &lt;Name&gt;
        &lt;Val&gt;ADC_A_IN&lt;/Val&gt;
        &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
      &lt;/Name&gt;
      &lt;locked&gt;true&lt;/locked&gt;
      &lt;IsDifferential&gt;false&lt;/IsDifferential&gt;
      &lt;Pins&gt;
        &lt;PinComponent&gt;
          &lt;PinName&gt;ADC_A_IN&lt;/PinName&gt;
          &lt;ViewName&gt;ADC_A_IN&lt;/ViewName&gt;
          &lt;Signal&gt;
            &lt;Val&gt;--none--&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Signal&gt;
          &lt;Negate&gt;
            &lt;Val&gt;false&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Negate&gt;
          &lt;Direction&gt;Analog&lt;/Direction&gt;
          &lt;isConstant&gt;false&lt;/isConstant&gt;
          &lt;Costant&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Costant&gt;
          &lt;type&gt;0&lt;/type&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
          &lt;maxsize&gt;1&lt;/maxsize&gt;
          &lt;minsize&gt;0&lt;/minsize&gt;
          &lt;locked&gt;false&lt;/locked&gt;
          &lt;CNSTR_Location /&gt;
          &lt;CNSTR_LocationDirection /&gt;
          &lt;CNSTR_DirectionOutputValue /&gt;
          &lt;CNSTR_DirectionInputValue /&gt;
          &lt;CNSTR_SE_Standard&gt;LVCMOS18&lt;/CNSTR_SE_Standard&gt;
          &lt;CNSTR_DF_Standard&gt;LVDS&lt;/CNSTR_DF_Standard&gt;
          &lt;Connector&gt;Analog&lt;/Connector&gt;
          &lt;ConnectorPin&gt;AN_0&lt;/ConnectorPin&gt;
          &lt;MCRepeat&gt;false&lt;/MCRepeat&gt;
        &lt;/PinComponent&gt;
      &lt;/Pins&gt;
      &lt;direction&gt;Analog&lt;/direction&gt;
      &lt;PinType&gt;PinAnalogIn&lt;/PinType&gt;
      &lt;Configurable&gt;false&lt;/Configurable&gt;
    &lt;/BoardPin&gt;
    &lt;BoardPin&gt;
      &lt;Name&gt;
        &lt;Val&gt;ADC_B_IN&lt;/Val&gt;
        &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
      &lt;/Name&gt;
      &lt;locked&gt;true&lt;/locked&gt;
      &lt;IsDifferential&gt;false&lt;/IsDifferential&gt;
      &lt;Pins&gt;
        &lt;PinComponent&gt;
          &lt;PinName&gt;ADC_B_IN&lt;/PinName&gt;
          &lt;ViewName&gt;ADC_B_IN&lt;/ViewName&gt;
          &lt;Signal&gt;
            &lt;Val&gt;--none--&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Signal&gt;
          &lt;Negate&gt;
            &lt;Val&gt;false&lt;/Val&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Negate&gt;
          &lt;Direction&gt;Analog&lt;/Direction&gt;
          &lt;isConstant&gt;false&lt;/isConstant&gt;
          &lt;Costant&gt;
            &lt;DefaultValue&gt;0&lt;/DefaultValue&gt;
          &lt;/Costant&gt;
          &lt;type&gt;0&lt;/type&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
          &lt;maxsize&gt;1&lt;/maxsize&gt;
          &lt;minsize&gt;0&lt;/minsize&gt;
          &lt;locked&gt;false&lt;/locked&gt;
          &lt;CNSTR_Location /&gt;
          &lt;CNSTR_LocationDirection /&gt;
          &lt;CNSTR_DirectionOutputValue /&gt;
          &lt;CNSTR_DirectionInputValue /&gt;
          &lt;CNSTR_SE_Standard&gt;LVCMOS18&lt;/CNSTR_SE_Standard&gt;
          &lt;CNSTR_DF_Standard&gt;LVDS&lt;/CNSTR_DF_Standard&gt;
          &lt;Connector&gt;Analog&lt;/Connector&gt;
          &lt;ConnectorPin&gt;AN_1&lt;/ConnectorPin&gt;
          &lt;MCRepeat&gt;false&lt;/MCRepeat&gt;
        &lt;/PinComponent&gt;
      &lt;/Pins&gt;
      &lt;direction&gt;Analog&lt;/direction&gt;
      &lt;PinType&gt;PinAnalogIn&lt;/PinType&gt;
      &lt;Configurable&gt;false&lt;/Configurable&gt;
    &lt;/BoardPin&gt;
  &lt;/PinList&gt;
  &lt;ClockList&gt;
    &lt;ClockSource&gt;
      &lt;Name&gt;CLK_ACQ&lt;/Name&gt;
      &lt;CClass&gt;0&lt;/CClass&gt;
      &lt;Frequency&gt;65000&lt;/Frequency&gt;
      &lt;IsBoardDefault&gt;true&lt;/IsBoardDefault&gt;
      &lt;RootPhase&gt;0&lt;/RootPhase&gt;
      &lt;RootRatio&gt;0&lt;/RootRatio&gt;
    &lt;/ClockSource&gt;
    &lt;ClockSource&gt;
      &lt;Name&gt;async_clk&lt;/Name&gt;
      &lt;CClass&gt;1&lt;/CClass&gt;
      &lt;Frequency&gt;65000&lt;/Frequency&gt;
      &lt;IsBoardDefault&gt;false&lt;/IsBoardDefault&gt;
      &lt;RootClock&gt;CLK_ACQ&lt;/RootClock&gt;
      &lt;RootPhase&gt;0&lt;/RootPhase&gt;
      &lt;RootRatio&gt;1&lt;/RootRatio&gt;
    &lt;/ClockSource&gt;
    &lt;ClockSource&gt;
      &lt;Name&gt;GlobalClock&lt;/Name&gt;
      &lt;CClass&gt;3&lt;/CClass&gt;
      &lt;Frequency&gt;65000&lt;/Frequency&gt;
      &lt;IsBoardDefault&gt;false&lt;/IsBoardDefault&gt;
      &lt;RootClock&gt;CLK_ACQ&lt;/RootClock&gt;
      &lt;RootPhase&gt;0&lt;/RootPhase&gt;
      &lt;RootRatio&gt;0&lt;/RootRatio&gt;
    &lt;/ClockSource&gt;
    &lt;ClockSource&gt;
      &lt;Name&gt;FAST_CLK_100&lt;/Name&gt;
      &lt;CClass&gt;4&lt;/CClass&gt;
      &lt;Frequency&gt;100000&lt;/Frequency&gt;
      &lt;IsBoardDefault&gt;true&lt;/IsBoardDefault&gt;
      &lt;RootPhase&gt;0&lt;/RootPhase&gt;
      &lt;RootRatio&gt;0&lt;/RootRatio&gt;
    &lt;/ClockSource&gt;
    &lt;ClockSource&gt;
      &lt;Name&gt;CLK_125&lt;/Name&gt;
      &lt;CClass&gt;3&lt;/CClass&gt;
      &lt;Frequency&gt;125000&lt;/Frequency&gt;
      &lt;IsBoardDefault&gt;false&lt;/IsBoardDefault&gt;
      &lt;RootPhase&gt;0&lt;/RootPhase&gt;
      &lt;RootRatio&gt;1&lt;/RootRatio&gt;
    &lt;/ClockSource&gt;
  &lt;/ClockList&gt;
  &lt;AsicCount&gt;4&lt;/AsicCount&gt;
  &lt;ASIC_CLOCK_ENABLE&gt;true&lt;/ASIC_CLOCK_ENABLE&gt;
&lt;/BoardConfig&gt;</BoardConfiguration>
  <UsePrecompiledSyntesisResults>false</UsePrecompiledSyntesisResults>
  <Optimization>Speed</Optimization>
  <Description />
  <Author />
  <Company />
  <Copyright />
  <PrjTargetBoard>GUID_BASED_INTENTIFIER</PrjTargetBoard>
  <PrjTargetBoardVariant />
  <ExampleCCode />
  <PrjGUID>43b2b00a-a411-4689-8bbf-cf32ea7beed7</PrjGUID>
  <PrjMAGIC>3D5464A6</PrjMAGIC>
  <MemoryMappedComponents />
</MACAProject>